doctype html
html
  head
    title

    meta( name='author', value='Damon Zucconi' )
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )

    link( rel='icon', href='favicon.ico' )
    link( rel='stylesheet', href= 'index.css' )
  body
    #stage
      | &hellip;

    script( src='index.js' )
